@page
@model PokeRepo.Pages.DetailsModel
@{
}

<div class="text-center flex-md-column justify-content-center align" >
    <img src="@Model.Poke.Image" style="width:300px" />
    <h1>@Model.Poke.Name</h1>
    
    <h6>Abilities: </h6>
    <ul style="list-style:none;">
        @foreach(var ability in Model.Poke.Abilities)
        {
            <li>@ability.Name</li>
        }
        
    </ul>
    <div>
        <h6>Stats:</h6>
        <ul class="list-unstyled">
            <li>Hp: @Model.Poke.Hp</li>
            <li>Attack: @Model.Poke.Attack</li>
            <li>Defence: @Model.Poke.Defence</li>
            <li>Speed: @Model.Poke.Speed</li>
            <li>Special defence: @Model.Poke.SpecialDefence</li>
            <li>Special attack: @Model.Poke.SpecialAttack</li>
        </ul>
    </div>
    <div>
        <a asp-page="/Gen1" class="btn btn-primary">Back to Gen One list</a>
        <a asp-page="/Index" class="btn btn-primary" >Home Page</a>
    </div>
    

</div>
